* {
  border: solid black 1px;
  /*position: absolute;*/
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.display {
  width: 500px;
  height: 70vh;
}

.UI {
  border: solid black 5px;
  width: 30%;
  order: 1;
}

.game-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.game-window {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.square {
  /*background-color: #222;*/
  box-shadow: inset 0 0 10px black;
  width: 35px;
  height: 35px;
  position: absolute;
}

.I {
  background-color: #ffff00;
}

.T {
  background-color: #663300;
}

.L {
  background-color: #800000;
}

.Z {
  background-color: #336600;
}

.bigO {
  background-color: #aa6909;
}
