body,div {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.square {
  background-color: black;
  /*filter: invert(100%);*/
  box-shadow: inset 0 0 10px black;
  width: 25px;
  height: 25px;
  position: absolute;
}

.border {
  color: red;
  position: absolute;
  border: solid red 1px;
}


.I {
  background-color: #ffff00;
}

.T {
  background-color: #663300;
}

.L {
  background-color: #800000;
}

.Z {
  background-color: #336600;
}

.O {
  background-color: #aa6909;
}

.rubble {
  background-color: grey;
}

.score-display {
  position: absolute;
  right: 10px;
  top: 0px;
  opacity: 0.4;
  color: #666;
  font: 2em "Open Sans", sans-serif;
}
