
.page {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #212F4B;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 20px #4d4d4d;
  border: groove rgba(255, 255, 255, 0.5) 1px ;
  color: red;
  z-index: 2;
  overflow: hidden;
}

.iframe {
  display: hidden;
  border: none;
}

.square {
  background-color: black;
  box-shadow: inset 0 0 10px black;
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 3;
}

@font-face{
  font-family: ourFont;
  src: url(../public/PressStart2P.ttf)
}

.game-over {
  font-family: ourFont;
  font-size: 2em;
  position: absolute;
  margin-top: 220px;
  margin-left: 10px;
  text-align: center;
  z-index: 15;
}

.game {
  width: 250px;
  height: 500px;
}

.I {
  background-color: #ffcc00;
  box-shadow: inset 0 0 10px #ffe066;
}

.T {
  background-color: #663300;
  box-shadow: inset 0 0 10px #cc6600;
}

.L {
  background-color: #800000;
  box-shadow: inset 0 0 10px #ff0000;
}

.Z {
  background-color: #336600;
  box-shadow: inset 0 0 10px #8cff1a;
}

.O {
  background-color: #aa6909;
  box-shadow: inset 0 0 10px #f8c06d;
}

.rubble {
  background-color: grey;
  box-shadow: inset 0 0 10px white;
  z-index: 2;
}

.score-display {
  position: absolute;
  left: 10px;
  top: 0px;
  opacity: .9;
  color: #bada55;
  font: 2em "Open Sans", sans-serif;
  text-shadow: 2px 2px black;
}

.next {
  position: relative;
  top: 150px;
  left: -220px;
  display: flex;
  flex-direction: row;
  opacity: .9;
  z-index: 4;
}
